@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 10 10 10;
  --muted: 115 115 115;
  --card: 250 250 250;
  --border: 229 229 229;
}

html, body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

.container {
  @apply mx-auto max-w-6xl px-4;
}

.prose a {
  @apply underline underline-offset-4;
}
